@import url('https://fonts.googleapis.com/css2?family=Forum&family=Lato&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Forum&family=Lato&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

nav {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

nav::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 10%; /* Control glow width */
  height: 30%;
  background: linear-gradient(to right, rgba(138, 43, 226, 0.8), rgba(255, 166, 0, 0.799));
  filter: blur(20px); /* Softens the glow */
  z-index: -1; /* Keeps it behind the navbar */
}

hr {
  border: 0.6px solid var(--gray);
}

/* NAV STYLES */
nav span {
  color: var(--off-white);
  font-size: 0.8rem;
  letter-spacing: 1.8px;
}

nav a {
  position: relative;
  margin: 0.2em;
  text-decoration: none;
  transition: transform 0.2s ease;
  text-shadow: 0 0 20px hsla(250, 100%, 70%, 0.5);
}

.logo {
  color: var(--vibrant-orange);
  display: inline-block;
}

.logo h1 {
  background: linear-gradient(to bottom right, var(--vibrant-orange), var(--golden-yellow));
  background-clip: text;
  color: transparent;
  text-shadow: 0 0 20px hsla(250, 100%, 70%, 0.1);

  font-family: "Bodoni Moda SC", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.3rem;
}

/* FOOTER STYLES */
footer {
  padding: 1em;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  margin: 0 1em;
  padding: 0.2em;
  position: relative;
  text-decoration: none;
  color: var(--off-white);
  font-weight: 500;
}

footer a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  translate: 50%; /* centralize */
  width: 50%;
  height: 1.6px;
  background-color: var(--golden-yellow);
  transform: scaleX(0);
  transition: transform 0.26s ease-in-out;
}

footer a:hover::before {
  transform: scaleX(1);
}

@media (max-width: 400px) {

  /* decrease padding of footer elements */
  .footer a {
    margin: 0 0.5em;
  }
}